<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원정보 수정 완료</title>
    <link rel="stylesheet" th:href="@{/css/result.css}">
</head>
<body>

<div class="container">

    <a th:href="@{/posts/board}">
        <img th:src="@{/image/honey.png}" alt="메인" class="icon">
    </a>

    <h1>회원 수정 결과</h1>

    <!-- Success Message -->
    <div th:if="${isJoin}" class="success">
        회원 수정 성공
        <button onclick="location.href='/posts/board';">게시글보기</button>
    </div>

    <!-- Failure Message -->
    <div th:if="${!isJoin}" class="failure">
        회원 수정 실패
        <ul>
            <li th:each="message : ${valid}" th:text="${message}"></li>
        </ul>
        <button onclick="location.href='/users/myPage';">마이페이지로</button>
    </div>
</div>
</body>
</html>